.footer{
    margin-bottom: 1%;
}

p.grey-text{
    width: 50%;
    color: #959595;
    font-weight: bold;
}

.button-holder{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

button.button-wide{
    width: 33%;
    margin-left: 5%;
}